#basic
.vscode
*.pdf
*.doc
*.docx
*.rar
*.txt
*.html
*.jpg
*.chm
*.log
*.zip
*.xml
tmp
GPATH
GRTAGS
GTAGS*


##############modelsim###################
work
*.mpf
*.mti
*.wlf
*.vstf
wlf*
transcript
virtuals.do
wave.do
*.ini
